.navbar,
.navbar-default {
    background-image: none !important;
    background-color: #000000;
    font-family: 'Lobster';
    padding: 5%;

}

.nav-link{
  color: #FFFFFF !important;
  font-size: 120% !important;
}

.nav-item
{
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.nav-item:hover
{
  background-color: rgba(255, 255, 255, 0.25);
}


.jumbotron {
  margin: 0px !important;
}

.navbar-brand {
  color: #FFFFFF;
  font-size: 200% !important;
}

.navbar-toggler {
width: 80px;
height: 80px;
}

.even {
  text-align: center;
  background-color: #090909 !important;
}

.odd {
  background-color: #adadad !important;
}
